<!-- 
This file is part of PyFlaSQL.
Original author: Raphael Viera (raphael.viera@emse.fr)
License: check the LICENSE file.
-->
{% extends "base.html" %}
{% block title %}SRIE > TP2 - Scanning Networks{% endblock %}
{% block content %}
<div class="container p-5 my-5">
    <!-- Main Title -->
    <h1 class="text-center">SRIE > TP2 - Scanning Networks</h2>
    <div class="container p-5 my-5 border">
        <!-- Description -->
        <p class="lead">
            Scanning a network is a fundamental practice in cybersecurity that involves actively probing and examining the target network to identify open ports, services, devices, and potential vulnerabilities.
        </p>
                
    </div>

    <!-- Useful tools title -->
    <h2 class="mt-5 text-center">Useful tools used in this phase</h2>    

    <div class="container p-5 my-5 border">
        <p class="lead">
            Below is a list of tools that can be used for this pentesting phase:
        </p>
        
        <ol class="list-group">
            <li class="list-group-item">
                <h5><a href="{{url_for('blueprint.srie_tp2_pingaddr')}}" class="list-group-item-action">Ping an IP address</a></h5>
                <p class="lead">
                    Ping can be used during a penetration test to send ICMP Echo Request packets to a target system or 
                    network, and then analyze the response to gather information about the target. By sending ping requests and 
                    analyzing the responses, pentesters can determine if a host is online, assess its response time (round-trip time or 
                    RTT), and identify potential targets for further exploration or exploitation.
                </p>
            </li>
            <li class="list-group-item">
                <h5><a href="{{url_for('blueprint.srie_tp2_fping')}}" class="list-group-item-action">Fping</a></h5>
                <p class="lead">
                    fping is a program to send ICMP echo probes to network hosts, similar to ping, but much better performing when pinging multiple hosts
                </p>
            </li>
            <li class="list-group-item">
                <h5><a href="{{url_for('blueprint.srie_tp2_nmapNetwork')}}" class="list-group-item-action">Nmap Network Scan</a></h5>
                <p class="lead">
                    Nmap (“Network Mapper”) is an open source tool for network exploration and security auditing. It was
       designed to rapidly scan large networks, although it works fine against single hosts. Nmap uses raw IP
       packets in novel ways to determine what hosts are available on the network, what services (application
       name and version) those hosts are offering, what operating systems (and OS versions) they are running,
       what type of packet filters/firewalls are in use, and dozens of other characteristics. While Nmap is
       commonly used for security audits, many systems and network administrators find it useful for routine
       tasks such as network inventory, managing service upgrade schedules, and monitoring host or service
       uptime.

                </p>
            </li>
            <li class="list-group-item">
                <h5><a href="{{url_for('blueprint.srie_tp2_nmapPort')}}" class="list-group-item-action">Nmap Port Scan</a></h5>
                <p class="lead">
                    While Nmap has grown in functionality over the years, it began as an efficient port scanner, and that
       remains its core function. The simple command nmap target scans 1,000 TCP ports on the host target. While
       many port scanners have traditionally lumped all ports into the open or closed states, Nmap is much more
       granular. It divides ports into six states: open, closed, filtered, unfiltered, open|filtered, or
       closed|filtered.
            </li>
            <li class="list-group-item">
                <h5><a href="{{url_for('blueprint.srie_tp2_traceroute')}}" class="list-group-item-action">Traceroute</a></h5>
                <p class="lead">
                Traceroute tracks the route packets taken from an IP network on their way to a given host.
                </p>
            </li>
        </ol>
    </div>

</div>
{% endblock %}

