<!-- 
This file is part of PyFlaSQL.
Original author: Raphael Viera (raphael.viera@emse.fr)
License: check the LICENSE file.

The page is an HTML template for a web-based tool called "Ping an IP Address" that allows users to ping an IP address. The page includes the following components:

    Head: Contains meta information such as character encoding, viewport settings, and a title for the page.
    Body: Contains the main content of the page.
        Header: Includes the title "PyFlaSQL" and a horizontal line.
        Heading 2: "Ping an IP address" as the main heading.
        Heading 3: Displays a preformatted command for using the 'ping' command with placeholders for the number of pings and IP address.
        Form: Contains a form for submitting the IP address and number of pings to ping.
            Input fields: Includes two input fields, one for the IP address and one for the number of pings, with placeholders and default values.
            Submit button: Allows the user to submit the form to ping the specified IP address.
        Heading 2: "Help" as a subheading.
        Paragraph: Provides information on how to use the tool, including placeholders for the IP address and number of pings.
        Heading 2: "Command output" as a subheading.
        Preformatted text: Displays the output of the 'ping' command, which is dynamically generated and inserted into the page.
        Horizontal line.
        Links: Includes two links to go back to the dashboard and logout from the current session.

{% raw %}
Note: The page also contains Flask-specific template syntax, denoted by double curly braces {{ }} and {% %}, for rendering dynamic content using Flask, a Python web framework.
Anything in this block is treated as raw text, including {{ curly braces }} and {% other block-like syntax %}
{% endraw %}
-->
{% extends "base.html" %}
{% block title %}SRIE > TP2 - Scanning Networks > Nmap Port Scan{% endblock %}
{% block content %}
<div class="container p-5 my-5">
    <h2 class="text-center">SRIE > TP2 - Scanning Networks > Nmap Port Scan</h2>

    <div class="container p-5 my-5 border bg-light">
        <p class="lead">
            -sS (TCP SYN scan)
            SYN scan is the default and most popular scan option for good reasons. It can be performed quickly,
            scanning thousands of ports per second on a fast network not hampered by restrictive firewalls. It is
            also relatively unobtrusive and stealthy since it never completes TCP connections. SYN scan works
            against any compliant TCP stack rather than depending on idiosyncrasies of specific platforms as
            Nmap's FIN/NULL/Xmas, Maimon and idle scans do. It also allows clear, reliable differentiation between
            the open, closed, and filtered states.

 
        </p>

        <p class="lead">-Pn (No ping)
            This option skips the host discovery stage altogether. Normally, Nmap uses this stage to determine
            active machines for heavier scanning and to gauge the speed of the network. By default, Nmap only
            performs heavy probing such as port scans, version detection, or OS detection against hosts that are
            found to be up. Disabling host discovery with -Pn causes Nmap to attempt the requested scanning
            functions against every target IP address specified. So if a /16 sized network is specified on the
            command line, all 65,536 IP addresses are scanned. Proper host discovery is skipped as with the list
            scan, but instead of stopping and printing the target list, Nmap continues to perform requested
            functions as if each target IP is active.
        </p>

    </div>


    <!-- Command Used section -->
    <h3 class="mt-5 text-center">Command Used</h3>

    <div class="container p-5 my-5 border bg-light">
        <p class="lead">The "nmap" tool is used in the command line shell. So far it takes one parameter :</p>
        <code>{% raw %}$ sudo nmap -sS -Pn {ip_address} {% endraw %}</code>

    </div>

    <!-- Help section -->
    <h3 class="mt-5 text-center">Help</h3>

    <div class="container p-5 my-5 border bg-light">
        <p class="lead">Please refer to the following information for help on how to use this tool:</p>
        <ul>
            <li class="list-group-item">
                <h5>{ip_address}*</h5>
                <p>IP address</p>
            </li>
        </ul>
        <p>Fields marked with * are mandatory.</p>


        <h5>Command example:</h5>
        <code>{% raw %}$ sudo nmap -sS -Pn 192.168.28.139{% endraw %}</code>
    </div>

    <!-- Command Execution section -->
    <h3 class="mt-5 text-center">Command Execution</h3>

    <div class="container p-5 my-5 border bg-light">
        <form method="post" action="">
            {{ content["form"].csrf_token }}

            <div class="form-group mt-2">
                <label for="{{ content['form'].ip_address.id }}">{{ content["form"].ip_address.label.text }}</label>
                {{ content["form"].ip_address(class="form-control") }}
            </div>
            
            <button type="submit" class="btn btn-primary mt-2">Submit</button>
        </form> 
    </div>

    <!-- Command Output section -->
    <h3 class="mt-5 text-center">Command Output</h3>

    <div class="container p-5 my-5 border bg-light">
        <h5 class="mt-5">Command executed:</h5>
        <code>{{ content["command_executed"] }}</code>

        <h5 class="mt-5">Output from shell:</h5>
            <pre>{{ content["command_output"] }}</pre>
    </div>

    
</div>
{% endblock %}

