<!-- 
This file is part of PyFlaSQL.
Original author: Raphael Viera (raphael.viera@emse.fr)
License: check the LICENSE file.
-->
{% extends "base.html" %}
{% block title %}SRIE > TP3 - Enumeration{% endblock %}
{% block content %}
<div class="container p-5 my-5">
    <!-- Main Title -->
    <h1 class="text-center">SRIE > TP3 - Enumeration</h2>
    <div class="container p-5 my-5 border">
        <!-- Description -->
        <p class="lead">
            In the context of cybersecurity, enumeration refers to the process of gathering information about a target system or network. It involves actively probing and exploring the target to identify potential entry points, vulnerabilities, and resources. Enumeration is a crucial step in the reconnaissance phase of a cybersecurity assessment or penetration testing.

        </p>
                
        <p class="lead">
            The primary purpose of enumeration is to gather intelligence about the target environment. By systematically analyzing various aspects of the system or network, security professionals can gain a better understanding of its structure, services, configurations, and potential weaknesses. Enumeration helps in identifying potential attack vectors, misconfigurations, outdated software, open ports, and other valuable information that can be used to exploit or secure the target.
        </p>

        <p class="lead">Enumeration
            helps to decipher the detailed information like Hostnames, IP tables, SNMP and DNS,
            Application, Banners, Audit configurations and service settings. The significance of
            Enumeration is that it systematically collects details.
        </p>
    </div>

    <!-- Useful tools title -->
    <h2 class="mt-5 text-center">Useful tools used in this phase</h2>    

    <div class="container p-5 my-5 border">
        <p class="lead">
            Below is a list of tools that can be used for this pentesting phase:
        </p>
        
        <ol class="list-group">
            <li class="list-group-item">
                <h5><a href="{{url_for('blueprint.srie_tp3_telnet')}}" class="list-group-item-action">Telnet</a></h5>
                <p class="lead">
                    The telnet command is a networking protocol used for establishing an interactive
communication session with another host via the TELNET protocol. This protocol enables a
user to access and communicate with a remote computer as if they were physically present
at the remote location. </p>
            </li>
            <li class="list-group-item">
                <h5><a href="{{url_for('blueprint.srie_tp3_nmapBanner')}}" class="list-group-item-action">Nmap Banner Grab</a></h5>
                <p class="lead">
                    Banner grabbing mainly consists of sending requests to services in order to get
responses which will allow us to learn their versions, it may be considered part of the OS and
version detection process to know our target’s software and its possible vulnerabilities for
future exploitation.
                </p>
            </li>
            <li class="list-group-item">
                <h5><a href="{{url_for('blueprint.srie_tp3_nmapEnum')}}" class="list-group-item-action">Nmap User Enum</a></h5>
                <p class="lead">
                   This tool use Nmap for user enumeration.
                </p>
            </li>
            <li class="list-group-item">
                <h5><a href="{{url_for('blueprint.srie_tp3_enum4linux')}}" class="list-group-item-action">Enum4linux</a></h5>
                <p class="lead">
                    Enum4linux is used to enumerate Windows and Samba hosts.
                </p>
            </li>
            <li class="list-group-item">
                <h5><a href="{{url_for('blueprint.srie_tp3_rpcclient')}}" class="list-group-item-action">Rpcclient</a></h5>
                <p class="lead">
                    Rpcclient is a Linux tool used for executing client side MS-RPC functions. 
                </p>
            </li>
        </ol>
    </div>

</div>
{% endblock %}

