<!-- 
This file is part of PyFlaSQL.
Original author: Raphael Viera (raphael.viera@emse.fr)
License: check the LICENSE file.
-->
{% extends "base.html" %}
{% block title %}SRIE > TP3 - Enumeration{% endblock %}
{% block content %}
<div class="container p-5 my-5">
    <!-- Main Title -->
    <h1 class="text-center">SRIE > TP3 - Enumeration</h2>
    <div class="container p-5 my-5 border">
        <!-- Description -->
        <p class="lead">
            Description text. Description text. Description text. Description text.
        </p>
                
        <p class="lead">
            Description text. Description text. Description text. Description text. 
        </p>
    </div>

    <!-- Useful tools title -->
    <h2 class="mt-5 text-center">Useful tools used in this phase</h2>    

    <div class="container p-5 my-5 border">
        <p class="lead">
            Below is a list of tools that can be used for this pentesting phase:
        </p>
        
        <ol class="list-group">
            <li class="list-group-item">
                <h5><a href="{{url_for('blueprint.srie_tp3_telnet')}}" class="list-group-item-action">Telnet</a></h5>
                <p class="lead">
                    Telnet desc
                </p>
            </li>
            <li class="list-group-item">
                <h5><a href="{{url_for('blueprint.srie_tp3_nmapBanner')}}" class="list-group-item-action">Nmap Banner Grab</a></h5>
                <p class="lead">
                    Nmap Banner Grab desc
                </p>
            </li>
            <li class="list-group-item">
                <h5><a href="{{url_for('blueprint.srie_tp3_nmapEnum')}}" class="list-group-item-action">Nmap User Enum</a></h5>
                <p class="lead">
                    Nmap User Enum desc
                </p>
            </li>
            <li class="list-group-item">
                <h5><a href="{{url_for('blueprint.srie_tp3_enum4linux')}}" class="list-group-item-action">Enum4linux</a></h5>
                <p class="lead">
                    Enum4linux desc
                </p>
            </li>
            <li class="list-group-item">
                <h5><a href="{{url_for('blueprint.srie_tp3_rpcclient')}}" class="list-group-item-action">Rpcclient</a></h5>
                <p class="lead">
                    Rpcclient desc
                </p>
            </li>
        </ol>
    </div>

</div>
{% endblock %}

