<!-- 
This file is part of PyFlaSQL.
Original author: Raphael Viera (raphael.viera@emse.fr)
License: check the LICENSE file.
-->
{% extends "base.html" %}
{% block title %}PyFlaSQL{% endblock %}
{% block content %}
<div class="container p-5 my-5">
    <!-- Main Title -->
    <h1 class="text-center">Password reset</h1>
    <div class="container p-5 my-5 border">
        <!-- Description -->
        <div class="container p-5 my-5 border bg-light">
            <form method = "get" action="">
                {{ content["form"].csrf_token }}

                <input class="form-group mt-2" type="hidden" id="username" name="username" value="{{content['username']}}" for="{{ content['form'].username.id }}"></input>

                <div class="form-group mt-2">
                    <label for="{{ content['form'].new_password.id }}">{{ content["form"].new_password.label.text }}</label>
                    {{ content["form"].new_password(class="form-control") }}
                </div>
                
                <button type="submit" class="btn btn-primary mt-2">Submit</button>
            </form> 
        </div>

    </div>

</div>
{% endblock %}

