<!-- 
This file is part of PyFlaSQL.
Original author: Raphael Viera (raphael.viera@emse.fr)
License: check the LICENSE file.
-->
{% extends "base.html" %}
{% block title %}SRIE > TP4 - Gaining Access{% endblock %}
{% block content %}
<div class="container p-5 my-5">
    <!-- Main Title -->
    <h1 class="text-center">SRIE > TP4 - Gaining Access</h2>
    <div class="container p-5 my-5 border">
        <!-- Description -->
        <p class="lead">
            Gaining unauthorized access, though illegal and unethical, can be useful in cybersecurity for defensive purposes such as identifying vulnerabilities, improving security controls, conducting penetration testing, enhancing incident response and forensic investigations, raising security awareness, and prioritizing patching and updates to protect systems, networks, and data from real-world threats.
        </p>
                
    </div>

    <!-- Useful tools title -->
    <h2 class="mt-5 text-center">Useful tool used in this phase</h2>    

    <div class="container p-5 my-5 border">
        
        <ol class="list-group">
            <li class="list-group-item">
                <h5><a href="{{url_for('blueprint.srie_tp4_hydra')}}" class="list-group-item-action">Hydra</a></h5>
                <p class="lead">
                    Hydra is a parallelized login cracker which supports numerous protocols to attack.
                </p>
            </li>
            
        </ol>
    </div>

</div>
{% endblock %}

